@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Rubik  */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --transparent: 0deg 0% 0% 0;
    --primary: 0deg 100% 66%;
    --gray-20: 242deg 23% 25%;
    --gray-5: 231deg 37% 14%;
    --black: 0deg 0% 0%;
    /* --white: 0deg, 0%, 100%; */
    --white: 0deg 0% 100%;
    --neutral-20: 219deg 11% 74%;
    --neutral-5: 38deg 27% 92%;
  }

  body {
    margin: 0;
    line-height: 1.5;
    min-height: 100vh;
    /* @apply w-full max-w-screen-desktop mx-auto; */
    @apply font-rubik;
  }

  li {
    list-style: none;
  }

  h1,
  h2,
  h3 {
    line-height: 1.5;
    @apply text-gray-20 font-semibold;
  }
  h1 {
    @apply text-xl tablet:text-2xl text-primary;
  }

  h2 {
    @apply text-lg tablet:text-xl;
  }

  p {
    line-height: 1.5;
    @apply text-sm tablet:text-lg text-gray-20;
  }

  a {
    @apply text-sm tablet:text-lg text-neutral-20 hover:text-primary;
  }

  .btn {
    width: 130px;
    padding: 10px 0px;
    border-radius: 25px;
    /* @apply rounded-md px-4 py-1; */
  }
}

/* @layer components {
  button {
    @apply bg-gray-20 text-white hover:bg-gray-5;
  }
} */

@layer utilities {
  .place-center {
    @apply flex justify-center items-center;
  }

  .bg-brand-gradient {
    background-image: linear-gradient(var(--gray-20), var(--gray-5));
  }
  .hover-bg-menu {
    @apply hover:bg-gray-5 rounded-md px-1;
  }

  .animation-ease-in-out {
    @apply duration-200 delay-100 ease-in-out;
  }

  .absolute-center {
    @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
  .bounceAnimation {
    animation: bounce infinite 1000ms ease-in-out;
    transition: animation 1000ms;
    /* animation-name: bounce;
    animation-duration: 2000ms;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
  }

  .animation-delay-0 {
    animation-delay: 0ms;
  }
  .animation-delay-500 {
    animation-delay: 200ms;
  }
  .animation-delay-1000 {
    animation-delay: 400ms;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}
